
<div layout="column" ng-cloak>
  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="inside-home-content">
    <md-card flex="flex" >
	<div layout="row">
		
		<div flex="50">
			<md-input-container class="md-block" flex-gt-sm>
	            <label>Company Name</label>
	            <input name="companyName" ng-model="companyName">
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	            <label>Main office</label>
	            <input name="address1" ng-model="address1">
	        </md-input-container>
		</div>
		<div flex="50">
			<md-input-container class="md-block" flex-gt-sm>
	            <label>Loyalty Points</label>
	            <input name="companyName" ng-model="companyName">
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	            <label>Receipt Message</label>
	            <textarea name="message" md-maxlength="150" rows="5" ng-model="message"></textarea>
	        </md-input-container>
		</div>

	</div>

	</md-card>
</md-content>
	
</div>