<style type="text/css"> 
   
/*  .loginForm{ 
    margin: 20px; 
  }*/ 
 
</style> 
 
<div class="registrationForm"> 
  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form"> 
    <md-card flex="flex" flex> 
      <md-toolbar> 
        <div class="md-toolbar-tools"> 
          <h2><span>Customer Registration</span></h2> 
        </div> 
      </md-toolbar> 
      <md-card-content> 
        <form name="customerForm" novalidate ng-submit="save()"> 
      <md-dialog-content> 
      <div layout="column"  layout-gt-sm="row"> 
        <div layout="column" flex="33" > 
          <div layout="column" layout-padding layout-margin> 
            <fieldset flex> 
            <legend><h4>Customer Details</h4></legend> 
                   
              <md-input-container class="md-block" flex-gt-sm> 
                      <label>Name</label> 
                      <input name="name" ng-model="name" md-autofocus required> 
                      <div ng-messages="customerForm.name.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                  <md-input-container class="md-block" flex-gt-sm> 
                      <label>Email</label> 
                      <input type="email" name="email" ng-model="email" required> 
                      <div ng-messages="customerForm.email.$error"> 
                      <div ng-message="required">This is required!</div> 
                      <div ng-message="email">Enter a valid email!</div> 
                  </div> 
                  </md-input-container> 
                  <md-input-container class="md-block" flex-gt-sm> 
                      <label>Contact Num</label> 
                      <input name="name" ng-model="contact" required> 
                      <div ng-messages="customerForm.contact.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                 </fieldset> 
             </div> 
        </div> <!-- End of column --> 
 
        <div layout="column" flex="33" > 
          <div layout="column" layout-padding layout-margin> 
            <fieldset flex> 
            <legend><h4>Address Details</h4></legend> 
                   
              <md-input-container class="md-block" flex-gt-sm> 
                      <label>Address 1</label> 
                      <input name="address1" ng-model="address1" required> 
                      <div ng-messages="customerForm.address1.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                  <md-input-container class="md-block" flex-gt-sm> 
                      <label>Address 2</label> 
                      <input name="address2" ng-model="address2" required> 
                      <div ng-messages="customerForm.address2.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                  <md-input-container class="md-block" flex-gt-sm> 
                      <label>Address 3</label> 
                      <input name="address3" ng-model="address3" required> 
                      <div ng-messages="customerForm.address3.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                 </fieldset> 
             </div> 
        </div> <!-- End of column --> 
        <div layout="column" flex="33" > 
          <div layout="column" flex layout-padding layout-margin> 
            <fieldset flex> 
            <legend><h4>Login Details</h4></legend> 
              <md-input-container class="md-block" flex-gt-sm> 
                      <label>Username</label> 
                      <input name="username" ng-model="username" required> 
                      <div ng-messages="customerForm.username.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                  <md-input-container class="md-block" flex-gt-sm> 
                      <label>Password</label> 
                      <input type="password" name="password" ng-model="password" required> 
                      <div ng-messages="customerForm.password.$error"> 
                      <div ng-message="required">This is required!</div> 
                  </div> 
                  </md-input-container> 
                 </fieldset> 
             </div> 
        </div> <!-- End of column --> 
      </div> <!-- End of outer column --> 
    </md-dialog-content> 
 
    <md-dialog-actions layout="row"> 
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus> 
            More on Wikipedia 
          </md-button> --> 
          <span flex></span> 
          <md-button ng-click="clear()"> 
           Clear 
          </md-button> 
          <md-button ng-disabled="customerForm.$invalid" ng-click="save('Message passed - saved customer')"> 
            Save 
          </md-button> 
    </md-dialog-actions> 
    </form> 
      </md-card-content> 
    </md-card> 
  </md-content> 
</div> 
  