
<div layout="column" ng-cloak>
<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="inside-home-content">
  <md-card flex="flex" >

  <div layout="column" >

    <div class="outerTableDiv">
      <table st-table="brands" st-safe-src="brandsCtrl.brands" class="my-table table-striped" style="width:100%">
        <thead>
          <tr >
            <th colspan="3">
              <div layout="row"> 
                <div flex="80"> 
                  <input st-search placeholder="global search" class="search-input md-whiteframe-3dp input-sm form-control" type="search"/>
                </div>
                <md-button class="md-no-focus" ng-click="brandsCtrl.openBrandForm($event)">+ Brand</md-button>
              </div>
            </th>
          </tr>
          <tr>
            <th class="md-subhead" st-ratio="25" st-sort="id">ID</th>
            <th class="md-subhead" st-ratio="55" st-sort="name">Brand Name</th>
            <th class="md-subhead" st-ratio="20"></th>
          </tr>
        </thead>
        <tbody ng-repeat="brand in brands">
          <tr class="mainTDRows">
            <td class="md-body-1" st-ratio="25" >{{brand.id}}</td>
            <td class="md-body-1" st-ratio="55" >{{brand.brandName}}</td>
            <td class="md-body-1 button-table-data" st-ratio="10">
              <div layout="row">
                <md-button  type="button" ng-click="editItem(row)" class="btn btn-sm btn-danger">
                  <i class="material-icons">edit</i>
                </md-button>
                <md-button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                  <i class="material-icons">delete</i>
                </md-button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot >
          <tr>
            <td colspan="3" class="text-center">
              <div st-items-by-page="10" st-pagination="" st-displayed-pages="5" st-template="app/views/padination.custom.html"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  </md-card>
</md-content>
  
</div>


<!-- <div ng-controller="brandsCtrl" layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Search</label>
        <input ng-model="user.title">
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>
      <form name="userForm">

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="user.company" disabled>
          </md-input-container>

          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="user.address">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
          <input ng-model="user.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="user.city">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

      </form>
    </div>
  </md-content>

</div> -->