<div class="extendedTableData" flex layout-fill layout="row" layout-xs="column">
	<div layout="column" > <!-- flex="33" -->
		<h4>Product Details</h4>
		<br />
		Barcode: {{ product.barcode }}
		<br />
		Brand: {{ product.brand.brandName }}
		<br />
		Description: {{ product.description }}
	</div>	

	<div layout="column" >
		<h4>Stock</h4>
		<ul ng-repeat="store in productsCtrl.stores "> <!-- | filter : {productsCtrl.stores.stock.id: product.stock.id} -->
			<li>Store Name : {{ store.name }}</li>
<!-- 			<ul ng-repeat="" >
				<li>{{ store.stock. }}</li>
			</ul> -->
			<li>Quantity : {{ productsCtrl.getStoreQuantity(store.stock, product.stock) }}</li>
		</ul>
<!-- 		<br />
		Ballincollig Store: 5
		<br />
		Mallow Store: 15
		<br /> -->
	</div>

	<div layout="column" >
		<h4>Price Breakdown</h4>
		<br />
		Trade Price Ex VAT: €{{ product.tradePriceEx }}
		<br />
		Markup: {{ product.markup }} %
		<br />
		Retail Price Ex VAT: €{{ product.retailPriceEx }}
		<br />
		Retail Price Inc VAT: €{{ product.retailPriceInc }}

	</div>


</div>
