
<div layout="column" ng-cloak>
<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="inside-home-content">
  <md-card flex="flex">

  <div layout="column" >

    <div class="outerTableDiv">
      <table st-table="customers" st-safe-src="customersCtrl.customers" class="my-table table-striped" style="width:100%">
        <thead>
          <tr>
              <th colspan="4">
                <div layout="row">
                  <!-- <label>Global Search</label> -->
                  <input st-search class="search-input md-whiteframe-3dp input-sm form-control" placeholder="Global Filter"/>
                  <!-- <span flex></span> -->
                  <md-button class="md-no-focus" ng-click="customersCtrl.openCustomerForm(null, $event)" layout-align="center end">+ Customer</md-button>
                  </div>
              </th>
          </tr>
          <tr>
            <th class="md-subhead" st-ratio="10" st-sort="id">ID</th>
            <th class="md-subhead" st-ratio="30" st-sort="name">Name</th>
            <th class="md-subhead" st-ratio="30" st-sort="name">Contact</th>
            <th st-ratio="20"></th>
          </tr>
        </thead>
        <tbody ng-repeat="customer in customers">
          <tr class="mainTDRows" ng-click="isOpen=!isOpen" ng-class="{'selectedRow': isOpen}">
            <td class="md-body-1" st-ratio="25" >{{customer.id}}</td>
            <td class="md-body-1" st-ratio="30" >{{customer.name}}</td>
            <td class="md-body-1" st-ratio="30" >{{customer.contact}}</td>
            <td class="md-body-1" class="md-body-1 button-table-data" st-ratio="10">
            <div layout="row">
              <md-button  type="button" ng-click="customersCtrl.editItem(customer, $index); $event.stopPropagation();" class="md-icon-button launch ">
                <i class="material-icons">edit</i>
              </md-button>
              <md-button type="button" ng-click="customersCtrl.removeItem(customer, $index); $event.stopPropagation();" class="md-icon-button launch ">
                <!-- <i class="fa fa-minus-circle fa-lg" aria-hidden="true">
                </i> -->
                <i class="material-icons">delete</i>
              </md-button>
            </div>
            </td>
          </tr>
          <tr ng-if="isOpen" class="expandedTableRow fade">
                  <td colspan="5" ng-include="'/app/customers/customerDetails.html'"></td>
          </tr>
        </tbody>
        <tfoot >
          <tr>
            <td colspan="5" class="text-center">
              <div st-items-by-page="10" st-pagination="" st-displayed-pages="5" st-template="app/views/padination.custom.html"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  </md-card>
</md-content>
  
</div>